body{
	background-color: #eeeeee;
}

.header{
	background-color: #333333;
	padding-top: 6pt;
	height: 55px;
}

.cnfrm-btn-xs{
	position: fixed;
	bottom: 0;
	left: 0;
	color: #eeeeee;
	background-color: rgb(25, 150, 125);
}

.cnfrm-btn{
	color: #eeeeee;
	background-color: rgb(25, 150, 125);
}
