.title-pnl{
	padding-top: .25em;
	height: 10%;
	min-height:  60px;
	background-color: #333333;
}

.sd-br{
	background-color: #cccccc;
	min-height: 100%;
}

.sd-nav{
	position: absolute;
	height: 100%; 
    width: 0;
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #666; 
    overflow-x: hidden; 
    transition: 0.5s; 
}

.center-pnl{
	height: 85%;
}

.control-pnl{
	height: 15%;
	padding: 10px;
}

.edit-pnl{
	height: 15%;
	background-color: #dddddd;
}

.info-pnl{
	height: 55%;
}

.player-pnl{
	height: 80%;
}

.progress-pnl{
	height: 20%;
}

.player-title{
	display: block;
	margin: auto;
	text-align: center;
}

.player-img-sm{
	display: block;
	margin:  auto;
	background-color: #dddddd;
	text-align: center;
	height: 90%;
	width: 65%;
}

.player-img-lg{
	display: block;
	margin: auto;
	background-color: #dddddd;
	text-align: center;
	height: 420px;
	width: 450px;
}

.audio-btn-group{
	text-align: center;
}

.sd-nav .cls-btn {
	float: right;
    font-size: 24px;
	padding: 10px;
	background: none;
	border: hidden;
	text-align: center;
}

.link-btn {
    background: none;
    border: none;
    color: rgb(25, 150, 125);
    text-decoration: underline;
    cursor: pointer;
}

.audio-btn{
	padding: 5px;
	border-radius: 50%;
	border-color: transparent;
	width: 3em;
	height: 3em;
	vertical-align: middle;
}

.edit-btn{
	padding: 5px;
	border-radius: 50%;
	border-color: transparent;
	width: 3em;
	height: 3em;
	vertical-align: middle;
}

.clr-btn{
	max-width: 75px;
}

#song-title{
	font:  14pt #333333; 
}

#album-title{
	font:  12pt #888888; 
}

.play{
	min-width: 4em;
	min-height: 4em;
}

.pause{
	min-width: 4em;
	min-height: 4em;
}

#seekObj{
	width: 100%;
}

	progress[value] {
	-webkit-appearance: none;
	  appearance: none;
      background-color: white;
      color: blue;
      height: 5px;
	}

	progress[value]::-webkit-progress-bar {
      background-color: white;
      border-radius: 2px;
      border: 1px solid lighten(#acacac, 20%);
      color: blue;
    }
    progress::-webkit-progress-value {
      background-color: #19967D;
    }


.start-time{
	float: left; 
	position: relative; 
}

.end-time{
	float: right; 
	position: relative; 
}