html{
	height: 100%;	
}

body{
	position: relative;
	padding-bottom: 4rem;
	background-color: #eeeeee;
	min-height: 100%;
}

.lt_h{
	color: #eeeeee;
}

.drk_h{
	color: #111111;
}

.header{
	padding-top: .8em;
	background-color: #333333;
	height: 4em;
}

.footer{
	position: absolute;
	bottom: 0;
	color: #999999;
	padding-top: .4em;
	background-color: #dddddd;
	height: 4em;
	width: 100%;
}

.bmprbx{
	padding: 1em;
}

.title{
	margin: auto;
	padding-top: .8em;
	padding-bottom: .2em;
}

.cnfrm-btn{
	color: #eeeeee;
	background-color: rgb(25, 150, 125);
}

.sd_br{
	background-color: #444444;
}

.cntrl_pnl{
	background-color: #111111;
}

.modal-content{
	background-color: #eeeeee;
}

.modal-footer{
	border-top: 1px solid #bbbbbb;
}

.modal-header{
	border-bottom: 1px solid #bbbbbb;
}
