html{
	height: 100%;
	min-height: 440px;
}

body{
	position: relative;
	padding-bottom: 4em;
	background-color: #eeeeee;
	height: 100%;
	min-height: 440px;
}

.header{
	padding-top: .8em;
	background-color: #333333;
	min-height: 4em;
}

.footer{
	position: absolute;
	bottom: 0;
	color: #999999;
	padding-top: .4em;
	background-color: #dddddd;
	height: 4em;
	width: 100%;
}

.pnl{
	height: 100%;
	min-height: 100%;
}

.btm-bmpr{
	margin-bottom: 1em;
}

.bmprbx{
	padding: 1em;
}

.inline{
	display: inline-block;
}

.vertical-align{
	display: flex;
	align-items: center;
}

.horizontal-align{
	display: block;
	margin: auto;
	text-align: center;
}

.title{
	margin: auto;
	padding-top: .8em;
	padding-bottom: .2em;
}

.rd{
	background-color: rgb(255,0,0);
}
 
.orng{
	background-color: rgb(255,144,0);
}

.yllw{
	background-color: rgb(255,255,0);
}

.grn{
	background-color: rgb(0,255,0);
}

.blu{
	background-color: rgb(0,0,255);
}

.prpl{
	background-color: rgb(160,0,255);
}

.lt-h{
	color: #eeeeee;
}

.gr-h{
	color: #bbbbbb;
}

.drk-h{
	color: #111111;
}

.lt-btn{
	color: #333333;
	background-color: #dddddd;
}

.gr-btn{
	color: #bbbbbb;
	background-color: #666666;
}

.drk-btn{
	color: #dddddd;
	background-color: #555555;
}

.lt-pnl{
	background-color: #eeeeee;
}

.drk-pnl{
	background-color: #333333;
}

.top-brdr{
	padding-top: 1em;
	border-top:.1em solid #333333;
}

.clr-slct-btn{
	border-radius: 50%;
	border: 5px solid transparent;
	height: 4em;
	width: 4em;
}

.cnfrm-btn{
	color: #eeeeee;
	background-color: rgb(25, 150, 125);
}

.clr-slct-btn:focus , .clr-slct-btn:active{
	
}
