html{
	height: 100%;	
}

body{
	position: relative;
	padding-bottom: 4rem;
	background-color: #eeeeee;
	min-height: 100%;
}

.header{
	background-color: #333333;
	padding-top: 6pt;
	height: 4em;
}

.footer{
	position: absolute;
	bottom: 0;
	color: #999999;
	background-color: #dddddd;
	padding: .5em;
	height: 4em;
	width: 100%;
}

.msg{
	padding: 1em;
}

.cnfrm-btn{
	color: #eeeeee;
	background-color: rgb(25, 150, 125);
}

.modal-content{
	background-color: #eeeeee;
}

.modal-footer{
	border-top: 1px solid #bbbbbb;
}

.modal-header{
	border-bottom: 1px solid #bbbbbb;
}